@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: blueviolet;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

.sidenav.active {
  transform: translateX(0);
}

/*Heading font*/
.rubik {
  font-family: 'Rubik', sans-serif;
}