.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
  }
  
  .header {
    grid-area: header;
    background-color: #8f3ac0;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #401246;
  }
  
  .main {
    grid-area: main;
    background-color: #ff50f6;
  }
  
  .footer {
    grid-area: footer;
    background-color: #a064a6;
  }